<div>
  <h1>Pipes</h1>

  <p>{{ myValue | uppercase }}</p>
  <p>{{ myDate | date:"MM/dd/yy" }}</p>
  <p>{{ myValue | slice:3:7 | uppercase }}</p>

  <input type="text" #input (keyup)="0">
  <p>{{ input.value | double:3:4 }}</p>

  <hr>
  <input type="text" #newItem>
  <button (click)="values.push(newItem.value)"
          class="btn btn-default">
    Add Item
  </button>
  <button (click)="values = values.concat(newItem.value)"
          class="btn btn-default">
    Pure Add Item
  </button>

  <ul>
    <li *ngFor="let item of values | filter:'ea'">{{item}}</li>
  </ul>

  <ul>
    <li *ngFor="let item of values | filterImpure:'ea'">{{item}}</li>
  </ul>
</div>
